# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OpenSCAD
*.stl
*.dxf
*.scad.deps

# Project specific
models/history/*
!models/history/.gitkeep
database/*.sqlite
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# API keys and sensitive data
config.ini
.env